:root{
    --black-color-bg: #0A0A0A;
    --withe-color: #ffffff;
    --red-color: #940000;
    --black-color: #000000;
    --black2-color: #131313; 
    --withe-color2: #D9D9D9;
    --gray-color: #2F2F2F;
}